@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(242, 242, 242);
  /* font-family: 'Kalam', cursive; */
}

/* header start */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1f1f22;
  width: 100vw;
  height: 4rem;
  padding-top: 0.6rem;
  position: fixed;
}

header .title {
  padding-left: 2rem;
  font-size: 1.5rem;
  padding-top: 0.2rem;
  letter-spacing: 0.6px;
}

nav {
  display: flex;
  padding-right: 1rem;
}

.nav-link {
  color: white;
  font-size: 1.3rem;
}

.nav-link a {
  text-decoration: none;
  letter-spacing: 0.6px;
  transition: 0.4s ease-in-out;
}

.nav-link a:hover {
  opacity: 0.7;
}

.profile-image {
  width: 20rem;
  height: 20rem;
}
/* header end */

/* .content-1 start */

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
}

.col .infoText {
  margin-top: 2rem;
  text-align: center;
  line-height: 1.5rem;
}

.col .infoText p {
  font-size: 1.2rem;
}

.infoText p:first-child {
  font-size: 1.6rem !important;
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.social .mediaDiv {
  padding: 0 1rem;
  font-size: 2.5rem;
}

.social .mediaDiv i {
  transition: 0.4s ease-out;
}

.fa-linkedin {
  color: #007bbe;
}

.fa-github {
  color: black;
}

.fa-stack-overflow {
  color: #e87922;
}

.fa-hackerrank {
  color: #1ba455;
}

.fa-medium {
  color: rebeccapurple;
}

.mediaDiv i:hover {
  opacity: 0.7;
}

/* .content-1 end */
