@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* container left start */
.container .left {
  width: 20%;
  height: 100vh;
  background: rgba(31, 31, 34, 1);
  position: fixed;
}

.container .left .content-left {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  position: relative;
}

.content-left .profile-image {
  width: 250px;
  border-radius: 50%;
  display: flex;
  border: 0.5px solid black;
  object-fit: cover;
  display: flex;
  margin-left: 30px;
}

.profile-image img {
  width: 250px;
}

.content-left .title {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  margin-left: -5px;
  letter-spacing: 0.2px;
  font-weight: bold;
}

.content-left .description {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 17px;
  opacity: 1;
}

nav .nav-link {
  padding-top: 40px;
  font-size: 20px;
}

nav .nav-link a {
  text-decoration: none;
  color: white;
  padding: 15px 0;
  transition: opacity 0.3s ease-out;
}

nav .nav-link a:hover {
  opacity: 0.8;
}

.left .social {
  margin-top: 70px;
  display: flex;
}

.left .social .mediaDiv {
  padding: 0 10px;
}

.left .social .mediaDiv i {
  font-size: 30px;
}

.left .social .mediaDiv a {
  transition: opacity 0.3s ease-out;
}

.left .social .mediaDiv a:hover {
  opacity: 0.8;
}

.fa-linkedin {
  color: #007bbe;
}

.fa-github {
  color: #fafafa;
}

.fa-stack-overflow {
  color: #e87922;
}

.fa-hackerrank {
  color: #1ba455;
}

.fa-medium {
  color: rebeccapurple;
}

/* container-left end */
